{% extends 'fond.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<img src="../images/logo.jpg" class="logo" alt="">
<div class="container inscription">
  <div class="row">
    <form method="post" class="connexion">
      {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
      <div class="mb-3 c-blue">
       Vous êtes connecter {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
      </div>
      {% endif %}

      <h1 class=" c-blue centre Capitalize">Page de Connexion</h1>
      <label for="inputEmail"> Adresse Email:</label>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

      <label for="inputPassword">Mots de Passe:</label>
      <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


      <button class="btn btn-inscr my-3 centre w-100 mt-3" type="submit">
      <i class="fa-solid fa-user-check"></i>Me connecter
      </button>

      <a
      href="{{ path('app_register') }}" class="btn btn-inscr my-3 centre w-100 mt-3">
        <i class="fa-solid fa-user-plus"></i>S'inscrire</a>

    </form>

  </div>

</div>
<a href="{{ path('home')}}" class="btn btn-acceuil centre"> <i class="fa-solid fa-house"></i>Accueil</a>
{% endblock %}
