{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}

<div class="container">
  <h1 class="my-4 text-center">Liste des réservations</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>

        <th class="c-black" scope="col">Id RDV</th>
          <th class="c-black" scope="col">Nom</th>
          <th class="c-black" scope="col">Prénom</th>
          <th class="c-black respphone" scope="col">Email</th>
          <th class="c-black respphone" scope="col">Téléphone</th>
          <!-- <th class="c-black respphone" scope="col">Date de réservation</th>
          <th class="c-black respphone" scope="col">Date de retour</th> -->
            <th class="c-black" scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for reservation in reservations %}
          <tr>
            <td class="c-black">{{ reservation.rdv ? reservation.rdv.id : 'Pas de rdv associé' }}</td>


            <td class="c-black">{{ reservation.name }}</td>
            <td class="c-black">{{ reservation.username }}</td>
            <td class="c-black respphone">{{ reservation.email }}</td>
            <td class="c-black respphone">
                <a href="tel:{{ reservation.tel }}">+33 {{ reservation.tel }}</a>
            </td>

                  <td><a class="btn btn-warning" href="{{ path('view_reservation_rdv', {'id': reservation.id}) }}">Voir cette réservation</a>
</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
